.formComponent textarea,
.formComponent input {
  width: 100%;
  border-radius: 6px;
  border: solid rgb(207, 207, 206) 1px;
  margin-bottom: 10px;
  padding: 7px;
  outline-color: #4294e0;
  color: #422f24;
  background-color: rgb(243, 240, 240);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, "Noto Sans Armenian",
    "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian",
    "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil",
    "Noto Sans Telugu", "Noto Sans Thai", sans-serif;
  font-size: 15px;
}

.formComponent.error textarea {
  border: solid #ff272780 1px;
}

.formComponent.error input {
  border: solid #ff272780 1px;
}
