.formComponent textarea,
.formComponent input {
  width: 100%;
  border-radius: 6px;
  border: solid rgb(207, 207, 206) 1px;
  margin-bottom: 10px;
  padding: 7px;
  outline-color: #4294e0;
  color: #422f24;
  background-color: rgb(243, 240, 240);
  font: inherit;
}

.formComponent.error textarea {
  border: solid #ff272780 1px;
}

.formComponent.error input {
  border: solid #ff272780 1px;
}
