.sidebar {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px 40px;
  align-self: start;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(185, 183, 183, 0.3);
  width: 180px;
  box-sizing: border-box;
}

.item {
  margin-bottom: 10px;
}

.inactive_link {
  font: inherit;
  font-size: 17px;
  color: #422f24;
  text-decoration: none;
}

.active_link {
  font: inherit;
  font-size: 17px;
  text-decoration: none;
  color: rgb(173, 96, 83);
}
