.profileCard {
  padding: 40px;
  display: flex;
  flex-direction: row;
}

.mainImage {
  flex-direction: column;
  justify-content: flex-start;
}

.fullName {
  font: Graphik;
  font-weight: bold;
  font-size: 22px;
  color: #422f24;
}

.mainImage img {
  height: 250px;
}

.description {
  margin-left: 40px;
}

.aboutMe {
  margin-top: 30px;
  color: brown;
}

.wallPaper img {
  height: 200px;
  width: calc(100vw - 215px);
  object-fit: cover;
}

.contact {
  padding-left: 10px;
}
