.app-wrapper {
  margin: 0 auto;
  /* width: 1200px; */
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-auto-rows: 75px 11fr;
  grid-template-areas:
    "hd hd"
    "sd main";
}

.app-wrapper-content {
  grid-area: main;
  background-color: rgb(240, 239, 204);
}
